# Problem Language models for structured data - Parsing the data into a dataframe and utilize an LLM agent to generate query

In [152]:
!pip install langchain openai pymysql --upgrade -q
import openai
import pymysql
import langchain

Reference :
https://towardsdatascience.com/pymysql-connecting-python-and-sql-for-data-science-91e7582d21d7

https://python.langchain.com/docs/integrations/toolkits/sql_database

# Agent

Agents are modules which use language model to decide an action to take.

https://python.langchain.com/docs/modules/agents/

In [153]:
import os
openai.api_key= "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"
os.environ["OPENAI_API_KEY"] = "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"

In [154]:
!pip install google-search-results -q

In [155]:
from langchain.agents import load_tools

In [156]:
from langchain.agents import initialize_agent

In [157]:
from langchain.agents import AgentType

In [158]:
!pip install openai
from langchain.chat_models import ChatOpenAI

Requirement already satisfied: openai in /usr/local/lib/python3.10/dist-packages (0.27.8)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai) (4.65.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from openai) (3.8.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2023.7.22)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (23.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.3.1)

In [159]:
llm = ChatOpenAI(temperature = 0, model = "gpt-3.5-turbo-0613")

# Missing values or null values

In [182]:
import pandas as pd
import numpy as np
import sqlite3

df = pd.read_csv("PQI_Account_Trend.csv")
df.fillna("not_available", inplace = True)
df.head()

,Slide,Region,Sub Region,Account,Qtr1,Qtr2,Qtr3,Qtr4,2022,Jan,Feb,Mar,Qtr1_2023,Apr,May,Jun,Qtr2_2023
0,1.0,CE SE & MEA,DACH,MELECS EWS GmbH,not_available,not_available,not_available,not_available,not_available,not_available,not_available,80.0,80.0,not_available,not_available,not_available,not_available
1,1.0,CE SE & MEA,DACH,Siemens,91.52,92.61,90.84,not_available,91.65,not_available,not_available,not_available,not_available,not_available,not_available,not_available,not_available
2,1.0,CE SE & MEA,DACH,Siemens AG,not_available,not_available,not_available,not_available,not_available,not_available,not_available,not_available,not_available,not_available,93.93,not_available,93.93
3,1.0,CE SE & MEA,DACH,Siemens Energy,84.75,not_available,not_available,not_available,84.75,not_available,not_available,not_available,not_available,not_available,not_available,not_available,not_available
4,1.0,CE SE & MEA,DACH,Siemens Healthcare GmbH,86.87,not_available,not_available,not_available,86.87,not_available,not_available,not_available,not_available,not_available,not_available,not_available,not_available

Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

# Converting string column to float type if it makes sense

In [183]:
df.rename(columns={"Slide":"Slide", "Region":"Region", "Sub Region":"Sub_Region", "Account":"Account", "Qtr1":"Quarter_1_2022", "Qtr2":"Quarter_2_2022", "Qtr3":"Quarter_3_2022", "Qtr4":"Quarter_4_2022","2022":"Entire_year_2022","Jan":"January_2023", "Feb":"February_2023", "Mar":"March_2023", "Qtr1_2023":"Quarter_1_2023", "Apr":"April_2023", "May": "May_2023", "Jun": "June_2023", "Qtr2_2023":"Quarter_2_2023"}, inplace = True)
data_list = ['Slide' , 'Quarter_1_2022' , 'Quarter_2_2022', 'Quarter_3_2022', 'Quarter_4_2022', 'Entire_year_2022', 'January_2023', 'February_2023', 'March_2023', 'Quarter_1_2023',  'April_2023', 'May_2023', 'June_2023', 'Quarter_2_2023']
for col in data_list:
  df[col] = pd.to_numeric((df[col]), errors = "coerce")

In [205]:
df.head()

,Slide,Region,Sub_Region,Account,Quarter_1_2022,Quarter_2_2022,Quarter_3_2022,Quarter_4_2022,Entire_year_2022,January_2023,February_2023,March_2023,Quarter_1_2023,April_2023,May_2023,June_2023,Quarter_2_2023
0,1.0,CE SE & MEA,DACH,MELECS EWS GmbH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.0,80.0,NaN,NaN,NaN,NaN
1,1.0,CE SE & MEA,DACH,Siemens,91.52,92.61,90.84,NaN,91.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,CE SE & MEA,DACH,Siemens AG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.93,NaN,93.93
3,1.0,CE SE & MEA,DACH,Siemens Energy,84.75,NaN,NaN,NaN,84.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,CE SE & MEA,DACH,Siemens Healthcare GmbH,86.87,NaN,NaN,NaN,86.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [185]:
df.head()

,Slide,Region,Sub_Region,Account,Quarter_1_2022,Quarter_2_2022,Quarter_3_2022,Quarter_4_2022,Entire_year_2022,January_2023,February_2023,March_2023,Quarter_1_2023,April_2023,May_2023,June_2023,Quarter_2_2023
0,1.0,CE SE & MEA,DACH,MELECS EWS GmbH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.0,80.0,NaN,NaN,NaN,NaN
1,1.0,CE SE & MEA,DACH,Siemens,91.52,92.61,90.84,NaN,91.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,CE SE & MEA,DACH,Siemens AG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.93,NaN,93.93
3,1.0,CE SE & MEA,DACH,Siemens Energy,84.75,NaN,NaN,NaN,84.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,CE SE & MEA,DACH,Siemens Healthcare GmbH,86.87,NaN,NaN,NaN,86.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [186]:
print(df.dtypes)
conn = sqlite3.connect('data_db.sqlite')
print(conn)

Slide               float64
Region               object
Sub_Region           object
Account              object
Quarter_1_2022      float64
Quarter_2_2022      float64
Quarter_3_2022      float64
Quarter_4_2022      float64
Entire_year_2022    float64
January_2023        float64
February_2023       float64
March_2023          float64
Quarter_1_2023      float64
April_2023          float64
May_2023            float64
June_2023           float64
Quarter_2_2023      float64
dtype: object
<sqlite3.Connection object at 0x7966e9fa2040>

In [187]:
c = conn.cursor()

c.execute("CREATE TABLE IF NOT EXISTS data_db (Slide int, Region text, Sub_Region text, Account text, Quarter_1_2022 float, Quarter_2_2022 float, Quarter_3_2022 float, Quarter_4_2022 float, Entire_year_2022 float, January_2023 float, February_2023 float, March_2023 float, Quarter_1_2023 float, April_2023 float, May_2023 float, June_2023 float, Quarter_2_2023 float )")
conn.commit()

In [188]:
df.to_sql('data_db', conn, if_exists= 'replace', index = False )

293

# Querying the db

In [189]:
def read_sql_query(sql, db):
  conn = sqlite3.connect(db)
  cur = conn.cursor()
  cur.execute(sql)
  rows = cur.fetchall()
  for row in rows:
    print(row)
  conn.close()

In [190]:

read_sql_query("SELECT * FROM data_db limit 10;", "data_db.sqlite")

(1.0, 'CE SE & MEA', 'DACH', 'MELECS EWS GmbH', None, None, None, None, None, None, None, 80.0, 80.0, None, None, None, None)
(1.0, 'CE SE & MEA', 'DACH', 'Siemens', 91.52, 92.61, 90.84, None, 91.65, None, None, None, None, None, None, None, None)
(1.0, 'CE SE & MEA', 'DACH', 'Siemens AG', None, None, None, None, None, None, None, None, None, None, 93.93, None, 93.93)
(1.0, 'CE SE & MEA', 'DACH', 'Siemens Energy', 84.75, None, None, None, 84.75, None, None, None, None, None, None, None, None)
(1.0, 'CE SE & MEA', 'DACH', 'Siemens Healthcare GmbH', 86.87, None, None, None, 86.87, None, None, None, None, None, None, None, None)
(1.0, 'CE SE & MEA', 'DACH', 'Société des Produits Nestlé S.A', None, None, None, 83.0, 83.0, None, None, None, None, 99.0, 99.0, None, 99.0)
(1.0, 'CE SE & MEA', 'DACH', 'Bundesministerium fÃ¼r Inneres', None, None, 98.89, None, 98.89, None, None, None, None, None, None, None, None)
(1.0, 'CE SE & MEA', 'DACH', 'Deutsche Telekom Germany ', None, None, 99.2, None, 99.2, None, None, None, None, None, None, None, None)
(1.0, 'CE SE & MEA', 'DACH', 'Bundesamt fÃ¼r Bauten und', None, None, 100.0, None, 100.0, None, None, None, None, None, None, None, None)
(1.0, 'CE SE & MEA', 'DACH', 'HETA ASSET RESOLUTION AG', None, None, None, 98.18, 98.18, None, None, None, None, None, None, None, None)

# Langchain integration

In [191]:
!pip install -U langchain langchain.experimental

Requirement already satisfied: langchain in /usr/local/lib/python3.10/dist-packages (0.0.260)
Requirement already satisfied: langchain.experimental in /usr/local/lib/python3.10/dist-packages (0.0.8)
Requirement already satisfied: PyYAML>=5.3 in /usr/local/lib/python3.10/dist-packages (from langchain) (6.0.1)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.0.19)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in /usr/local/lib/python3.10/dist-packages (from langchain) (3.8.5)
Requirement already satisfied: async-timeout<5.0.0,>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from langchain) (4.0.2)
Requirement already satisfied: dataclasses-json<0.6.0,>=0.5.7 in /usr/local/lib/python3.10/dist-packages (from langchain) (0.5.14)
Requirement already satisfied: langsmith<0.1.0,>=0.0.11 in /usr/local/lib/python3.10/dist-packages (from langchain) (0.0.20)
Requirement already satisfied: numexpr<3.0.0,>=2.8.4 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.8.4)
Requirement already satisfied: numpy<2,>=1 in /usr/local/lib/python3.10/dist-packages (from langchain) (1.23.5)
Requirement already satisfied: openapi-schema-pydantic<2.0,>=1.2 in /usr/local/lib/python3.10/dist-packages (from langchain) (1.2.4)
Requirement already satisfied: pydantic<2,>=1 in /usr/local/lib/python3.10/dist-packages (from langchain) (1.10.12)
Requirement already satisfied: requests<3,>=2 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.31.0)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in /usr/local/lib/python3.10/dist-packages (from langchain) (8.2.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (3.2.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.3.1)
Requirement already satisfied: marshmallow<4.0.0,>=3.18.0 in /usr/local/lib/python3.10/dist-packages (from dataclasses-json<0.6.0,>=0.5.7->langchain) (3.20.1)
Requirement already satisfied: typing-inspect<1,>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from dataclasses-json<0.6.0,>=0.5.7->langchain) (0.9.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<2,>=1->langchain) (4.7.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (2023.7.22)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy<3,>=1.4->langchain) (2.0.2)
Requirement already satisfied: packaging>=17.0 in /usr/local/lib/python3.10/dist-packages (from marshmallow<4.0.0,>=3.18.0->dataclasses-json<0.6.0,>=0.5.7->langchain) (23.1)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.10/dist-packages (from typing-inspect<1,>=0.4.0->dataclasses-json<0.6.0,>=0.5.7->langchain) (1.0.0)

In [192]:
from langchain import OpenAI, SQLDatabase

In [193]:
from langchain_experimental.sql import SQLDatabaseChain

In [194]:
input_db = SQLDatabase.from_uri('sqlite:///data_db.sqlite')
#llm_1 = OpenAI(temperature = 0, )

In [195]:
db_agent = SQLDatabaseChain(llm = llm,
                            database = input_db)

/usr/local/lib/python3.10/dist-packages/langchain_experimental/sql/base.py:65: UserWarning: Directly instantiating an SQLDatabaseChain with an llm is deprecated. Please instantiate with llm_chain argument or using the from_llm class method.
  warnings.warn(

#Database agent

In [196]:
db_agent = SQLDatabaseChain(llm = llm, database = input_db, verbose = True)

In [197]:
db_agent.run("How many rows are in this database?")

> Entering new SQLDatabaseChain chain...
How many rows are in this database?
SQLQuery:SELECT COUNT(*) FROM data_db
SQLResult: [(293,)]
Answer:There are 293 rows in this database.
> Finished chain.

'There are 293 rows in this database.'

In [204]:
db_agent.run("What is the mode of the column Quarter_1_2022 excluding the ---missing--- entries?")

> Entering new SQLDatabaseChain chain...
What is the mode of the column Quarter_1_2022 excluding the ---missing--- entries?
SQLQuery:SELECT "Quarter_1_2022"
FROM data_db
WHERE "Quarter_1_2022" IS NOT NULL
GROUP BY "Quarter_1_2022"
ORDER BY COUNT(*) DESC
LIMIT 1
SQLResult: [(100.0,)]
Answer:The mode of the column Quarter_1_2022 excluding the ---missing--- entries is 100.0.
> Finished chain.

'The mode of the column Quarter_1_2022 excluding the ---missing--- entries is 100.0.'