In [67]:
!pip install langchain openai pymysql --upgrade -q
import openai
import pymysql
import langchain

Reference :
https://towardsdatascience.com/pymysql-connecting-python-and-sql-for-data-science-91e7582d21d7

https://python.langchain.com/docs/integrations/toolkits/sql_database

# Agent

Agents are modules which use language model to decide an action to take.

https://python.langchain.com/docs/modules/agents/

In [68]:
import os
openai.api_key= "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"
os.environ["OPENAI_API_KEY"] = "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"

In [69]:
!pip install google-search-results -q

In [70]:
from langchain.agents import load_tools

In [71]:
from langchain.agents import initialize_agent

In [72]:
from langchain.agents import AgentType

In [73]:
!pip install openai
from langchain.chat_models import ChatOpenAI

Requirement already satisfied: openai in /usr/local/lib/python3.10/dist-packages (0.27.8)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai) (4.65.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from openai) (3.8.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2023.7.22)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (23.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.3.1)

In [74]:
llm = ChatOpenAI(temperature = 0, model = "gpt-3.5-turbo-0613")

In [75]:
import pandas as pd
import numpy as np
import sqlite3

df = pd.read_csv("data.csv")
df.head()

,ID,Year,Stage,Home Team,Home Goals,Away Goals,Away Team,Host Team or Not
0,1,1930,Group stage,France,4,1,Mexico,0
1,2,1930,Group stage,United States,3,0,Belgium,0
2,3,1930,Group stage,Yugoslavia,2,1,Brazil,0
3,4,1930,Group stage,Romania,3,1,Peru,0
4,5,1930,Group stage,Argentina,1,0,France,0

In [76]:
df.rename(columns={'ID':"ID", "Year":"Year", "Stage":"Stage", "Home Team": "Home_team", "Home Goals":"Home_Goals", "Away Goals":"Away_Goals", "Away Team":"Away_Team", "Host Team or Not":"Host_team"}, inplace = True)
df.head()

,ID,Year,Stage,Home_team,Home_Goals,Away_Goals,Away_Team,Host_team
0,1,1930,Group stage,France,4,1,Mexico,0
1,2,1930,Group stage,United States,3,0,Belgium,0
2,3,1930,Group stage,Yugoslavia,2,1,Brazil,0
3,4,1930,Group stage,Romania,3,1,Peru,0
4,5,1930,Group stage,Argentina,1,0,France,0

In [77]:
print(df.dtypes)
conn = sqlite3.connect('data_db.sqlite')
print(conn)

ID             int64
Year           int64
Stage         object
Home_team     object
Home_Goals     int64
Away_Goals     int64
Away_Team     object
Host_team      int64
dtype: object
<sqlite3.Connection object at 0x7d9f39a8b140>

In [78]:
c = conn.cursor()

c.execute("CREATE TABLE IF NOT EXISTS data_db (ID int, Year int, Stage text, Home_team text, Home_Goals int, Away_Goals int, Away_Team text, Host_team text)")
conn.commit()

In [79]:
df.to_sql('data_db', conn, if_exists= 'replace', index = False )

900

# Querying the db

In [80]:
def read_sql_query(sql, db):
  conn = sqlite3.connect(db)
  cur = conn.cursor()
  cur.execute(sql)
  rows = cur.fetchall()
  for row in rows:
    print(row)
  conn.close()

In [81]:
read_sql_query("SELECT * FROM data_db limit 10;", "data_db.sqlite")

(1, 1930, 'Group stage', 'France', 4, 1, 'Mexico', 0)
(2, 1930, 'Group stage', 'United States', 3, 0, 'Belgium', 0)
(3, 1930, 'Group stage', 'Yugoslavia', 2, 1, 'Brazil', 0)
(4, 1930, 'Group stage', 'Romania', 3, 1, 'Peru', 0)
(5, 1930, 'Group stage', 'Argentina', 1, 0, 'France', 0)
(6, 1930, 'Group stage', 'Chile', 3, 0, 'Mexico', 0)
(7, 1930, 'Group stage', 'Yugoslavia', 4, 0, 'Bolivia', 0)
(8, 1930, 'Group stage', 'United States', 3, 0, 'Paraguay', 0)
(9, 1930, 'Group stage', 'Uruguay', 1, 0, 'Peru', 1)
(10, 1930, 'Group stage', 'Chile', 1, 0, 'France', 0)

# Langchain integration

In [82]:
!pip install -U langchain langchain.experimental

Requirement already satisfied: langchain in /usr/local/lib/python3.10/dist-packages (0.0.251)
Requirement already satisfied: langchain.experimental in /usr/local/lib/python3.10/dist-packages (0.0.8)
Requirement already satisfied: PyYAML>=5.4.1 in /usr/local/lib/python3.10/dist-packages (from langchain) (6.0.1)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.0.19)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in /usr/local/lib/python3.10/dist-packages (from langchain) (3.8.5)
Requirement already satisfied: async-timeout<5.0.0,>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from langchain) (4.0.2)
Requirement already satisfied: dataclasses-json<0.6.0,>=0.5.7 in /usr/local/lib/python3.10/dist-packages (from langchain) (0.5.14)
Requirement already satisfied: langsmith<0.1.0,>=0.0.11 in /usr/local/lib/python3.10/dist-packages (from langchain) (0.0.18)
Requirement already satisfied: numexpr<3.0.0,>=2.8.4 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.8.4)
Requirement already satisfied: numpy<2,>=1 in /usr/local/lib/python3.10/dist-packages (from langchain) (1.22.4)
Requirement already satisfied: openapi-schema-pydantic<2.0,>=1.2 in /usr/local/lib/python3.10/dist-packages (from langchain) (1.2.4)
Requirement already satisfied: pydantic<2,>=1 in /usr/local/lib/python3.10/dist-packages (from langchain) (1.10.12)
Requirement already satisfied: requests<3,>=2 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.27.1)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in /usr/local/lib/python3.10/dist-packages (from langchain) (8.2.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (2.0.12)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.3.1)
Requirement already satisfied: marshmallow<4.0.0,>=3.18.0 in /usr/local/lib/python3.10/dist-packages (from dataclasses-json<0.6.0,>=0.5.7->langchain) (3.20.1)
Requirement already satisfied: typing-inspect<1,>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from dataclasses-json<0.6.0,>=0.5.7->langchain) (0.9.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<2,>=1->langchain) (4.7.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (2023.7.22)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (3.4)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy<3,>=1.4->langchain) (2.0.2)
Requirement already satisfied: packaging>=17.0 in /usr/local/lib/python3.10/dist-packages (from marshmallow<4.0.0,>=3.18.0->dataclasses-json<0.6.0,>=0.5.7->langchain) (23.1)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.10/dist-packages (from typing-inspect<1,>=0.4.0->dataclasses-json<0.6.0,>=0.5.7->langchain) (1.0.0)

In [83]:
from langchain import OpenAI, SQLDatabase

In [84]:
from langchain_experimental.sql import SQLDatabaseChain

In [85]:
input_db = SQLDatabase.from_uri('sqlite:///data_db.sqlite')
llm_1 = OpenAI(temperature = 0)

In [86]:
db_agent = SQLDatabaseChain(llm = llm_1,
                            database = input_db)

/usr/local/lib/python3.10/dist-packages/langchain_experimental/sql/base.py:65: UserWarning: Directly instantiating an SQLDatabaseChain with an llm is deprecated. Please instantiate with llm_chain argument or using the from_llm class method.
  warnings.warn(

#Database agent

In [87]:
db_agent = SQLDatabaseChain(llm = llm_1, database = input_db, verbose = True)

In [88]:
db_agent.run("How many rows are in this database?")

> Entering new SQLDatabaseChain chain...
How many rows are in this database?
SQLQuery:SELECT COUNT(*) FROM data_db;
SQLResult: [(900,)]
Answer:There are 900 rows in this database.
> Finished chain.

'There are 900 rows in this database.'

In [89]:
db_agent.run("Which team scored most number of Home_goals?")

> Entering new SQLDatabaseChain chain...
Which team scored most number of Home_goals?
SQLQuery:SELECT Home_team, MAX(Home_Goals) FROM data_db;
SQLResult: [('Hungary', 10)]
Answer:Hungary scored the most number of Home_goals with 10.
> Finished chain.

'Hungary scored the most number of Home_goals with 10.'

In [90]:
db_agent.run("Which are the top three teams to score Away_goals?")

> Entering new SQLDatabaseChain chain...
Which are the top three teams to score Away_goals?
SQLQuery:SELECT Away_Team, SUM(Away_Goals) AS Total_Away_Goals FROM data_db GROUP BY Away_Team ORDER BY Total_Away_Goals DESC LIMIT 3;
SQLResult: [('Germany', 53), ('Brazil', 53), ('Spain', 46)]
Answer:The top three teams to score Away_goals are Germany, Brazil and Spain.
> Finished chain.

'The top three teams to score Away_goals are Germany, Brazil and Spain.'

In [91]:
db_agent.run("How many unique entries of home_team are present?")

> Entering new SQLDatabaseChain chain...
How many unique entries of home_team are present?
SQLQuery:SELECT COUNT(DISTINCT "Home_team") FROM data_db;
SQLResult: [(77,)]
Answer:77 unique entries of home_team are present.
> Finished chain.

'77 unique entries of home_team are present.'